<div class="main">
  <img src="../assets/images/parachute1.png" class="parachute">

  <div class="name">사랑의 불시착</div>
  <div class="name n2">Crash Landing On You</div>
  <ngb-carousel class="advertisement_cont" [interval]="3000">

    <ng-template ngbSlide class="mySlides">
      <img src="../assets/images/CLOY H 1.jpg" class="slidesimg">
    </ng-template>

    <ng-template ngbSlide class="mySlides">
      <img src="../assets/images/CLOY H2.jpg" class="slidesimg">
    </ng-template>

    <ng-template ngbSlide class="mySlides">
      <img src="../assets/images/CLOY H 3.jpg" class="slidesimg">
    </ng-template>

    <ng-template ngbSlide class="mySlides">
      <img src="../assets/images/CLOY H 4.gif" class="slidesimg">
    </ng-template>

    <ng-template ngbSlide class="mySlides">
      <img src="../assets/images/CLOY H 5.jpg" class="slidesimg">
    </ng-template>

  </ngb-carousel>

  <div class = "reel">
    <img src = "../assets/images/reel.png" class = "pic2">
    <img src = "../assets/images/moviereel.png" class = "pic">
    
  </div>
</div>