/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: url(./assets/images/starnight.jpg); ; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    //border: solid thin white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }